<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-heading text-center">About</h2>
                    <h3 class="section-subheading text-muted text-center">How does it work?</h3>
                    <p>Xendurance Box Challenge is a new online competition form, where you individually compete with yourself and your friends in your own box.</p>
<p>Every month you can get access to 4 events – 1 event will be presented each week and you will have 1 week to perform the event – easy to fit in your own programming and training.</p>
<p>All events are accessible to everyone!</h3>
<p>Leaderboard will only be generated in the box you are training and competing. Leaderboard is hidden during the event week, until deadline has passed each Sunday 24.00 CET Leaderboard will be for regular and masters (40+).</p>
<p>Sign up for 1 month at the time, watch our standard videos, download the scoresheet, find your training-buddy’s and get to work – and get access to the leaderboard in your own box.</p>
<p>
    Signup fee is only <strong>6 Euros</strong> for each month you chose to participate.
</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-container">
                    <iframe width="854" height="480" src="https://www.youtube.com/embed/_auK1bOfQfo" frameborder="0" allowfullscreen></iframe>
                  <div>
                </div>
            </div>
        </div>
    </section>