<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Nunc vitae venenatis diam. Proin convallis odio eget erat eleifend mattis. Maecenas ut orci suscipit, volutpat felis in, accumsan ligula. Duis id mauris risus. Proin fringilla magna a risus ullamcorper gravida. Morbi vitae odio lobortis, posuere dolor sit amet, venenatis lectus. Vestibulum porta at massa sed efficitur. Morbi sodales sagittis pulvinar. Maecenas iaculis scelerisque ipsum, a ullamcorper mi euismod non.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="video-container">
                  <iframe width="1280" height="720" src="https://www.youtube.com/embed/LybwK3DAjuE" frameborder="0" allowfullscreen></iframe>
                  <div>
                </div>
            </div>
        </div>
    </section>