   <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                    <h3 class="section-subheading text-muted">How do i register?</h3>
                </div>
            </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="nobullets">
                <li>1. Go to <a href="http://www.activeperfection.com">www.activeperfection.com</a>.</li>
                <li>2. Create your own profile</li>
                <li>3. Find your box name (if none is found, write the name yourself)</li>
            </ul>
            <div class="text-center">
                <a class="btn btn-xl" href="https://activeperfection.com/">Register Now!</a>
            </div>
        </div>
    </div>
</section>