   <section id="registration">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Registration</h2>
                    <h3 class="section-subheading text-muted">How do i register?</h3>
                </div>
            </div>
    <div class="row">
        <div class="col-lg-12">
            <ul class="nobullets">
                <li>1. Click on this link: <a href="#" target="_blank" >register</a>, which will open a new window.</li>
                <li>2. Click "Sign up here"</li>
                <li>3. Log in or create an account</li>
                <li>4. Select your club from the drop down (create it if you are the first one register for your club)</li>
                <li>5. Continue to payment</li>
                <li>6. You are now a part of XBC!</li>
            </ul>
            <div class="text-center">
                <a class="btn btn-xl" href="https://activeperfection.com/" target="_blank">Register for May competition</a>
            </div>
        </div>
    </div>
</section>